In [148]:
from __future__  import print_function, division

import pylab as pl
import pandas as pd
import numpy as np
import os
from scipy import stats

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [21]:
pd.read_csv('https://raw.githubusercontent.com/fedhere/PUI2018_fb55/master/Lab4_fb55/times.txt', names=['Time'])

         Time
0   31.622239
1   32.821376
2   30.229101
3   31.413766
4   39.010550
5   34.822079
6   39.871884
7   39.579946
8   31.026587
9   27.662461
10  18.875288
11  46.231373
12  30.015226
13  47.600410
14  16.527267
15  42.446233
16  33.625274
17  42.284626
18  46.205207
19  30.875174
20  32.948003
21  26.176915
22  31.256996
23  35.336446
24  35.640725
25  40.322972
26  38.043486
27  29.457979
28  23.916364
29  34.564035
..        ...
70  31.481028
71  37.149151
72  38.991504
73  20.530594
74  27.804477
75  38.699333
76  30.022314
77  38.648842
78  26.406689
79  32.102250
80  28.315328
81  43.261959
82  40.360941
83  37.302526
84  31.451102
85  38.795995
86  36.925534
87  32.371679
88  23.258356
89  26.426133
90  48.749877
91  31.425124
92  46.806793
93  30.597486
94  20.792632
95  26.197852
96  42.727410
97  33.731470
98  37.238591
99  36.339841

[100 rows x 1 columns]

- **Null Hypothesis: ** The commute time is longer or the smae after the implementation of the alternative bus route for bus line X8.
- **Alternative Hypothesis: ** The commute time is shorter after the implementation of the alternative bus route for bus line X8.
- **$H_0$: $T_1$ > or = $T_0$**
- **$H_1$: $T_1$ < $T_0$**

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/fedhere/PUI2018_fb55/master/Lab4_fb55/times.txt', names=['Time'])

In [36]:
Tnew = df['Time']

In [76]:
smean = sum(Tnew) / 100
N = len(Tnew)

In [60]:
pmean = 36
std = 6

In [81]:
zscore = (pmean - smean)/(std / sqrt(N))

In [82]:
zscore

2.5563971861666701

In [144]:
alpha1 = 0.05
critical1 = 1.645

In [147]:
if zscore > critical1:
    print ("Z-score of the new bus line travel time is %.2f"%zscore + " with a significance level at %.3f"%alpha1
           + "\nZ-score hit the critical value, null hypothesis is rejected")
    
if zscore <= critical1:
    print ("Z-score of the new bus line travel time is %.2f"%zscore + " with a significance level at %.3f"%alpha1
           + "\nZ-score didn't hit the critical value, null hypothesis fails to be rejected")

Z-score of the new bus line travel time is 2.56 with a significance level at 0.050
Z-score hit the critical value, null hypothesis is rejected

In [115]:
alpha2 = 0.025
critical2 = 1.960

In [138]:
if zscore > critical2:
    print ("Z-score of the new bus line travel time is %.2f"%zscore + " with a significance level at %.3f"%alpha2
           + "\nZ-score hit the critical value, null hypothesis is rejected")
    
if zscore <= critical2:
    print ("Z-score of the new bus line travel time is %.2f"%zscore + " with a significance level at %.3f"%alpha2
           + "\nZ-score didn't hit the critical value, null hypothesis fails to be rejected")

Z-score of the new bus line travel time is 2.56 with a significance level at 0.025
Z-score hit the critical value, null hypothesis is rejected

In [139]:
alpha3 = 0.01
critical3 = 2.326

In [140]:
if zscore > critical3:
    print ("Z-score of the new bus line travel time is %.2f"%zscore + " with a significance level at %.3f"%alpha3 
           + "\nZ-score hit the critical value, null hypothesis is rejected")
    
if zscore <= critical3:
    print ("Z-score of the new bus line travel time is %.2f"%zscore + " with a significance level at %.3f"%alpha3 
           + "\nZ-score didn't hit the critical value, null hypothesis fails to be rejected")

Z-score of the new bus line travel time is 2.56 with a significance level at 0.010
Z-score hit the critical value, null hypothesis is rejected

In [141]:
alpha4 = 0.005
critical4 = 2.576

In [142]:
if zscore > critical4:
    print ("Z-score of the new bus line travel time is %.2f"%zscore + " with a significance level at %.3f"%alpha4 
           + "\nZ-score hitthe critical value, null hypothesis is rejected")
    
if zscore <= critical4:
    print ("Z-score of the new bus line travel time is %.2f"%zscore + " with a significance level at %.3f"%alpha4 
           + "\nZ-score didn't hit the critical value, null hypothesis fails to be rejected")

Z-score of the new bus line travel time is 2.56 with a significance level at 0.005
Z-score didn't hit the critical value, null hypothesis fails to be rejected

**Conclusion: ** The null hypothesis is rejected at the significance level of 0.01, meaning there is only 1% probability of getting type I error. It means that the commute time is shorter after the implementation of the alternative bus route for bus line X8.